# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# =========================
# FastF1
# =========================
backend/.fastf1-cache/
backend/computed_data/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# React / Vite
# =========================
node_modules/
dist/
build/

# Cache
.cache/
.parcel-cache/
.vite/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Coverage
# =========================
coverage/
.coverage
htmlcov/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Temporary files
# =========================
*.tmp
*.temp